# Keep repo plumbing out of the release zip: it ships as the plugin folder.
/.github          export-ignore
/.gitattributes   export-ignore
/.gitignore       export-ignore
/composer.json    export-ignore
